*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    list-style: none;
}
/* :root{
    background-image: url('images/book.jpg');
    height:90vh;
} */
section{
    padding: 2rem 3%;
}
body{
    min-height: 100vh;
}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 4px 0%;
    transition:all .50s ease;
    position:sticky;
    background: linear-gradient(to right, #0b0b2b, #2d8eac);
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo i{
    color: rgb(149, 245, 252);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color:rgb(157, 174, 175);
    font-size: 1.3rem;
    font-weight:500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(149, 245, 252);
}
.navbar a:active{
    color: rgb(8, 100, 106);
}
.main{
    display: flex;
    align-items: center;
    /* background-image: url('images/book.jpg'); */
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color:rgb(157, 174, 175);
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .50s ease;
    text-decoration: none;    
}
.main a:hover{
    color:rgb(149, 245, 252);
}
#menu-icon{
    font-size:1.6rem;
    color:rgb(157, 174, 175);
    cursor: pointer;
    z-index:10001;
    display:none;
}

@media (max-width: 1280px){
    header{
        padding:14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 20vh;
        background-color: rgb(157, 174, 175);
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition:all .50s ease;
        color:#fff;
    }
    .navbar a:hover{
        color:rgb(149, 245, 252);
        transform: translateY(5px);
    }
    .navbar a.active{
        color:rgb(149, 245, 252);
    }
    .navbar.open{
        right: 2%;
    }
}

.content p{
    font-size:1rem;
    font-weight: lighter;
    line-height:1.8;
    padding: 1rem 0;
    color: #faf1fd;
    text-align:left;
    padding-right: 60%;
    font-family:cursive;
}
.home{
    min-height: 90vh;
    padding-top: 12rem;
}
#home{
    background-image: url('../images/book.jpg');
    height: 90vh;
    width:100%;
    background-position: top 25% right 0;
    padding:0 80px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    /* background-repeat: no-repeat; */
}
/* .home .content{
    flex: 1 1 42rem;
    max-width: 60rem;
} */
.home .content h3{
    font-size:2.5rem;
    color: #c0a75c;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-74:hover {
    background-color: #fff;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  .section-p1{
    padding:40px 80px;
  }
  .section-m1{
    margin:40px 0;
  }
  /* .row{
    justify-content: center;
    float: left;
  } */
  #feature{
     display:flex;
     align-items:center;
     justify-content: space-between;
     flex-wrap: wrap;
  }
  #feature .fe-box{
    width: 320px;
    height:360px;
    text-align:center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #a6dbae;
    border-radius:4px;
    margin:15px 0;
  }
  #feature .fe-box:hover{
    box-shadow: rgb(215, 215, 216) 0px 0px 0px 3px, rgb(132, 133, 132) 0px 0px 0px 6px;
  }
  #feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#fdfffc;
    font-size: 1.0rem;
    background-color: rgba(55, 95, 226, 0.753);
    /* display: inline-block; */
  }
  #feature .fe-box img{
    width:100%;
  }
  /* img{
    float: right;
    max-width:100%;
    height:auto;
    background:lightblue;
    background:radial-gradient(white 30%,lightblue 70%);
  } */
  .bxs-star,
  .bx-star{
    color:yellowgreen;
    padding:3% 0;
  }
  s{
    text-decoration: line-through;
  }
  .container h1{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2.6rem;
    text-decoration:underline;
  }
  .row{
    display: block;
  }

  #featured-books .product a{
    overflow: hidden;
  }

  #featured-books .product img{
    transition: transform 0.5s ease;
  }

  #featured-books .product img:hover{
    transition: transform 0.5s ease;
  }

  .item{
    /* display: flex !important; */
    display: inline-block !important;
    box-sizing: border-box;
    list-style:none;
  }