@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #b3d4e2, #dcbbf1);
    background-position: center;
    background-size: cover;
    position:absolute;
}

header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    left:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding:10px 0%;
    transition:all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo i{
    color: beige;
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: rgb(16, 34, 232);
    font-size: 2.3rem;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-box{
    width: 380px;
    height: 550px;
    position: relative;
    margin:10% auto;
    background: #faf9f9;
    padding:5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px #514e4d1f; */
    border-radius:10px;
    text-align:center;
}
.toggle-btn{
    padding: 10px 40px;
    font-size:20px;
    cursor: pointer;
    color: cornflowerblue;
    background: transparent;
    border: 0;
    font-weight: bold;
    outline: none;
    /* text-decoration:underline; */
    position: relative;
    font-family: 'Libre Baskerville', serif;    /* text-decoration:cornflowerblue; */
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #31a2d3, #8b3dbe); */
    /* border-radius:30px; */
    transition: .5s;
    
}
.social-icon{
    margin: 30px auto;
    text-align: center;
}
.social-icon img{
    width:30px;
    margin:0 12px;
    box-shadow: 0 0 20px 0 #03030346;
    cursor:pointer;
    border-radius:30%;   
}
.input-group{
    padding-left: 35px;
    top:180px;
    position:absolute;
    width: 280px;
    transition:.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn{
    width:90%;
    padding: 10px 20px;
    cursor:pointer;
    display: block;
    margin:10px;
    background: linear-gradient(to right, #b3d4e2, #dcbbf1);
    border:0;
    outline:none;
    border-radius:30px;
}
.check-box{
    margin:20px 10px 10px 0;
}
span{
    color:#777;
    font-size:14px;
    bottom: 45px;
    position:static;
}
.btn{
    padding: 15px;
    /* position: absolute; */
    bottom:0;
    text-align: center;
}
#login{
    left:50px;
}

#register a{
    text-decoration: none;
    font-size:13px;
}

#register a:hover{
    text-decoration: underline;
    color:red;
}
.message{
    position:sticky;
    top: 0;
    margin: 0px auto;
    max-width: 350px;
    height: 25px;
    padding:0rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    gap:1.5rem;
    background-color: #d46a6a;
    border-radius:5px;
    text-align: center;
}
.message span{
    font-size: 0.9rem;
    color: rgb(250, 250, 250);
    align-items:center;
    text-align: center;
}
.message i{
    cursor: pointer;
    color:rgb(254, 249, 249);
    font-size: 1rem;
}
.message i:hover{
    transform: rotate(90deg);
}